<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <title>Sass first</title>
    <link rel="stylesheet" href="./dist/css/style.css">

  </head>
  <body>

    <div id="root">
      <header>

        <nav class="container">
          <div class="logo">
            <img :src=`${logo}` alt="logo con faccina">
          </div>

          <div class="menu">
            <p class="linkMenu" v-for="(links, index) in navLink">{{links.name}}</p>
            <button class="g-btn" type="button" name="signUp"><img src="dist/img/google-logo.svg"> Sign up</button>
          </div>

          <div class="hamburger">
            <i class="fas fa-bars"></i>
          </div>
        </nav>

      </header>

      <main>
        <div class="jumbo container">
          <div class="jumboLeft">
            <h1>Understand, recognize and develop your people</h1>
            <p>Teambit helps teams create a high performing culture with regular feedback</p>
            <p><button class="btn" type="button" name="g-sign"><img src="dist/img/google-logo.svg" alt=""> Sign in with Google</button> or <button class="btn" type="button" name="s-sign"><img src="dist/img/slack-logo.svg" alt=""> Sign in with Slack</button></p>
            <p>or use your email adress &#8594;</p>
          </div>

          <div class="jumboRight">
            <img src="./dist/img/illustration-main.jpg" alt="">
          </div>
        </div>

        <div class="beforeAfter">

          <div class="before">
            <h3>Traditional people processes lead to disengagement and turnover.</h3>
            <div class="cardSections">
              <div class="card" v-for="card in workFlowImgOne">
                <img :src=`${card.img}` alt="">
                <p>{{card.text}}</p>
              </div>
            </div>
            <img src="./dist/img/before.png" alt="">
          </div>

          <hr>

          <div class="after">
            <h3>Traditional people processes lead to disengagement and turnover.</h3>
            <div class="cardSections">
              <div class="card" v-for="card in workFlowImgTwo">
                <img :src=`${card.img}` alt="">
                <p>{{card.text}}</p>
              </div>
            </div>
            <img src="./dist/img/after.png" alt="">
          </div>
          <h4>Here is how it works</h4>
        </div>




        <div class="leftRight">

          <div class="infonograph left">
            <div class="graph">
              <img src="./dist/img/employee-feedback.jpg" alt="">
            </div>
            <div class="card">
              <h3>Feedback to help teammates</h3>
              <p>Empower your teammares to know in real time what they are doing and what they need to improve</p>
              <a href="#">Learn more &#8594;</a>
              <img src="./dist/img/communication.jpg" alt="">
            </div>
          </div>

          <div class="infonograph right">
            <div class="card">
              <h3>Survey to help the team be better</h3>
              <p>Get real-time insights into your team with research-backed, lightweight and regular surveys.</p>
              <a href="#">Learn more &#8594;</a>
              <img src="./dist/img/insights.jpg" alt="">
            </div>
            <div class="graph">
              <img src="./dist/img/employee-survey.jpg" alt="">
            </div>
          </div>

          <div class="infonograph left">
            <div class="graph">
              <img src="./dist/img/performance-review.jpg" alt="">
            </div>
            <div class="card">
              <h3>Reviews to help teammates get a fair evaluation</h3>
              <p>Make better compensation and promotion decision with objective and quick performance</p>
              <a href="#">Learn more &#8594;</a>
              <img src="./dist/img/review.jpg" alt="">
            </div>
          </div>

          <div class="infonograph right">
            <div class="card">
              <h3>Praise to help teammates feel valued</h3>
              <p>Make it a habit to recognize and praise people who do great work</p>
              <a href="#">Learn more &#8594;</a>
              <img src="./dist/img/recognition.jpg" alt="">
            </div>
            <div class="graph">
              <img src="./dist/img/employee-survey.jpg" alt="">
            </div>
          </div>

        </div>



      </main>

      <footer>

      </footer>
    </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="./dist/js/app.js"></script>
  </body>
</html>
