nav{
  height: $px80;
  border-bottom: 2px solid black;
  @include flex(row, space-between);
  .logo{
    width: $w20;
  }
  .menu{
    width: $w30;
    @include flex(row, space-between);
    .g-btn{
      height: $px40;
      width: $px100;
      border: 1px solid $br_blue;
      border-radius: $px10;
      background-color: $bg_white;
      img{
        vertical-align: middle;
        width: $px20;
      }
    }
  }
  .hamburger{
    display: none;
    i{
      font-size: $px30;
    }
  }

}


@media screen  and (max-width: 480px){
  header{
    nav{
      @include flex(row, space-between);
      .logo{
        width: $w50;
      }
      .menu{
        display: none;
        width: $w50;
      }
      .hamburger{
        display: block;
      }
    }
  }
}


@media screen  and (min-width: 481px) and (max-width: 1169px){
  header{
    nav{
      @include flex(row, space-between);
      .logo{
        width: $w50;
      }
      .menu{
        display: none;
        width: $w50;
      }
      .hamburger{
        display: block;
      }
    }
  }
}


@media screen  and (min-width: 1170px){

}
