*{
  color: $tx_brown;
}

.jumbo{
  @include flex(row, space-between);
  margin: $px80 auto;
  .jumboLeft{
    width: $w50;
    @include flex(column, space-between, flex-start);
    h1{
      font-size: 3.3rem;
      margin: $px10 0;
      line-height: 5rem;
    }
    p{
      margin: $px10;
      margin-bottom: $px50;
      .btn{
        @include btn;
        img{
          vertical-align: middle;
          width: $px20;
        }
      }
    }
  }
  .jumboRight{
    width: $w50;
    img{
      width: $w100;
    }
  }
}

.beforeAfter{
  @include flex(column, flex-start, center);
  background-color: $bg_pink;
  padding: $px40 0;
  hr{
    background-color: $bg_brown;
    width: $w80;
    height: $px5;
    margin: $px100;
  }
  h4{
    font-size: 2.5rem;
    text-align: center;
    margin: $px100 0 $px40 0;
  }
  .before, .after{
    @include flex(column, flex-start, center);
    h3{
      font-size: 2.5rem;
      width: $w60;
      text-align: center;
      margin-bottom: $px40;
    }
    .cardSections{
      @include flex(row, space-between, center);
      width: $w100;
      .card{
        @include flex(column, flex-start, center);
        margin: $px20;
        img{
          padding: 0;
          height: $px200;
          width: auto;
        }
        p{
          margin: $px10;
          font-size: 1.2rem;
        }
      }
    }
    img{
      width: $w50;
      padding: $px40;
    }
  }
}


// leftright-----

.leftRight{
  .left{
    @include flex(row, flex-start, flex-start);
  }
  .right{
    @include flex(row, flex-end, flex-start);
  }
  .infonograph{
    width: $w100;
    margin: $px40 0;
    .graph{
      width: $w50;
      img{
        max-width: $w100;
      }
    }
    .card{
      width: $w40;
      margin-top: $px100;
      h3{
        font-size: 2rem;
      }
      p{
        margin: $px20 0;
        font-size: 1.2rem;
      }
      a{
        margin: $px20 0;
        text-decoration: none;
        color: $tx_blue;
        display: block;
      }
      img{
        width: $w70;
      }
    }


}
}











// Mediaquery--------------------------------

@media screen and (max-width: 480px){
  main{

    .jumbo{
      @include flex(column, flex-start, center);
      width: $w100;
      .jumboLeft{
        width: $w100;
        @include flex(column, space-between, center);
        h1, p{
          text-align: center;
        }
      }
    }
    .jumboRight{
      width: $w100;
    }
  }

  .beforeAfter{
    .before, .after{
      .cardSections{
        @include flex(column, flex-start, center);
        width: $w50;
        .card{
          margin: $px20;
          img{
            width: $w80;
            height: $w80;
          }
        }
      }
      img{
        width: $w100;
      }
    }
  }
}


@media screen and (min-width: 481px) and (max-width: 1169px){

  main{

    .jumbo{
      @include flex(column, flex-start, center);
      .jumboLeft{
        width: $w100;
        @include flex(column, space-between, center);
        h1, p{
          text-align: center;
        }
      }
      .jumboRight{
        width: $w100;
      }
    }
  }

  .beforeAfter{
    .before, .after{
      .cardSections{
        @include flex(column, flex-start, center);
        width: $w50;
        .card{
          margin: $px20;
          img{
           width: $w50;
           height: auto;
          }
        }
      }
      img{
        width: $w80;
      }
    }
  }

}
