@mixin flex($direction: row, $justyfy: center, $align: center){
  display: flex;
  flex-direction: $direction;
  justify-content: $justyfy;
  align-items: $align;
}

@mixin btn{
  background-color: $bg_blue;
  color: $tx_white;
  padding: $px10 $px20;
  font-weight: bold;
  border-radius: $px10;
}
